<div class="user-details">
	<h1>Featured Projects</h1>
</div>

<div class="user-projects">
	<div class="images-right">
		<a href="https://github.com/koreanhong/ff.gg"><img class="projectsImg" alt="mountains" src="../assets/img/main.jpg" /></a>
	</div>
	<div class="contents">
		<h3>FF.GG</h3>
<!-- 		<ul> -->
<!-- 			<li>개발기간 :2019.10.16 - 2019.12.09 </li> -->
			<p class="contentsTitle">[개발기간]</p>
			<p class="contentsPeriod">2019.10.16 - 2019.12.09 </p>
<!-- 		</ul> -->
		<p class="contentsTitle">[소개]</p>
		<p class="contentsWrite">피파온라인4 사용자의 닉네임을 검색해 사용자의 선수정보, 승패여부, 트레이드 목록 등의 정보를 알 수 있는 피파온라인 전적검색 웹사이트 </p>
		<p class="contentsTitle">[사용언어 및 기술]</p>
		<p class="contentsWrite">
		 <b class="mini_title">Language</b> : JAVA, jquery, JavaScript
		 </p>
		 <p>
		 <b class="mini_title">DataBase</b> : MongoDB, mySql
		 </p>
		 <p>
		 <b class="mini_title">IDE</b> : Eclipse
		 </p>
		 <p>
		 <b class="mini_title">Server & Technology</b> : MyBatis,Spring,ajax,nodejs,Tomcat
		 </p>
		 <p class="contentsTitle">[개발과정]</p>
		 <p>ajax이용, API를 통해 데이터 수집 후 jquery로 동적페이지 출력하고, 게임 내 선수정보 및 랭킹 크롤링하여 페이지 출력, springMVC패턴 사용 게시판 구현 </p>
		<a class="project-link" href="#">맨위로</a> 
	</div>
</div>


